#LP#1105230 and LP#1385510
# CONFIG_SOUND_OSS_CORE_PRECLAIM is not set
# upstart requires DEVTMPFS be enabled and mounted by default.
CONFIG_DEVTMPFS=y
CONFIG_DEVTMPFS_MOUNT=y
# some /dev nodes require POSIX ACLs, like /dev/dsp
CONFIG_TMPFS_POSIX_ACL=y
# Ramdisk size should be a minimum of 64M
CONFIG_BLK_DEV_RAM=y
CONFIG_BLK_DEV_RAM_SIZE=65536
# LVM requires dm_mod built in to activate correctly (LP: #560717)
CONFIG_MD=y
CONFIG_BLK_DEV_DM=y
# sysfs: ensure all DEPRECATED items are off
# CONFIG_SYSFS_DEPRECATED is not set
# automatically add local version will cause packaging failure
CONFIG_LOCALVERSION=""
# Ensure IPV6 is y, if this is a module we get a module load for
# every ipv6 packet, bad.
CONFIG_IPV6=y
# Ensure ECRYPT_FS is y as it cannot be autoloaded and it has complex
# dependancies which can pull it =m at a whim.
CONFIG_ECRYPT_FS=y
# Required if /init is a shell script.
CONFIG_BINFMT_SCRIPT=y
# Newer udevs don't handle firmware loading, and having the userspace
# fallback enabled in the kernel just results in big delays if we do
# fall back.
# See LP:1398458
# CONFIG_FW_LOADER_USER_HELPER_FALLBACK is not set
CONFIG_CRASH_DUMP=y
CONFIG_RTC_DRV_CMOS=m
CONFIG_NVRAM=m
CONFIG_INPUT_UINPUT=y
# needed by dbus
CONFIG_SYSVIPC=y
CONFIG_SYSVIPC_SYSCTL=y
