# CONFIG_COMPAT_BRK is not set
# CONFIG_DEVKMEM is not set
CONFIG_LSM_MMAP_MIN_ADDR=0
CONFIG_SECURITY=y
CONFIG_SECURITY_APPARMOR=y
CONFIG_SECURITY_SELINUX=y
CONFIG_SECURITY_SMACK=y
CONFIG_SECURITY_YAMA=y
CONFIG_SYN_COOKIES=y
CONFIG_DEFAULT_SECURITY_APPARMOR=y
CONFIG_SECCOMP=y
CONFIG_SECCOMP_FILTER=y
CONFIG_CC_STACKPROTECTOR=y
CONFIG_CC_STACKPROTECTOR_REGULAR=y
CONFIG_DEBUG_RODATA=y
CONFIG_DEBUG_SET_MODULE_RONX=y
CONFIG_STRICT_DEVMEM=y
# CONFIG_COMPAT_VDSO is not set
# CONFIG_ACPI_CUSTOM_METHOD is not set
CONFIG_DEFAULT_MMAP_MIN_ADDR=32768
