CONFIG_RD_BZIP2=y
CONFIG_RD_LZMA=y
CONFIG_RD_XZ=y
CONFIG_REGULATOR=y
CONFIG_RFKILL=y
CONFIG_RFKILL_INPUT=y
CONFIG_RFKILL_REGULATOR=m
CONFIG_RFKILL_GPIO=m
CONFIG_RAW_DRIVER=m
CONFIG_FANOTIFY=y
CONFIG_AUTOFS4_FS=y
# CONFIG_USB_FUNCTIONFS is not set
# CONFIG_USB_ZERO is not set
# CONFIG_USB_MASS_STORAGE is not set
# CONFIG_USB_G_MULTI_CDC is not set
CONFIG_CONFIGFS_FS=y
CONFIG_KEYS=y
CONFIG_ENCRYPTED_KEYS=y
